<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for [:admin, @category], html: { class: 'form-inline' } do |f| %>
        <%= f.input :name %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
